@model Chess.Web.ViewModels.StatsViewModel

@{
    this.ViewData["Title"] = "Stats";
}

<table>
    <tr class="table-title">
        <th colspan="5">@Model.UserName</th>
    </tr>
    <tr>
        <th class="col-title">GAMES</th>
        <th class="col-title">WINS</th>
        <th class="col-title">DRAWS</th>
        <th class="col-title">LOSSES</th>
        <th class="col-title">RATING</th>
    </tr>
    <tr>
        <td>@Model.UserStats.Games</td>
        <td>@Model.UserStats.Wins</td>
        <td>@Model.UserStats.Draws</td>
        <td>@Model.UserStats.Losses</td>
        <td>@Model.UserStats.Rating</td>
    </tr>
</table>

<table>
    <tr class="table-title">
        <th colspan="5">ALL USERS</th>
    </tr>
    <tr>
        <th class="col-title">TOTAL USERS</th>
        <th class="col-title">LAST 30 DAYS REGISTERED USERS</th>
        <th class="col-title">TOTAL GAMES</th>
        <th class="col-title">USER WITH MOST GAMES</th>
        <th class="col-title">USER WITH MOST WINS</th>
    </tr>
    <tr>
        <td>@Model.TotalUsers</td>
        <td>@Model.LastThirtyDaysRegisteredUsers</td>
        <td>@Model.TotalGames</td>
        <td>@Model.MostGamesUser</td>
        <td>@Model.MostWinsUser</td>
    </tr>
</table>
